*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards, .confirmar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    margin: 0.75em;
    width: 12.75rem;
}

.cadastro{
    margin: 0.2em;
}

.painel{
    min-height: 27rem;
}