*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards, .confirmar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.conf{
color:white ;
margin-top: 8em;
margin-right: 2em;
margin-left: 4em;
background-color: red;
border-radius: 1em;
padding: 2em;
height: 2em;
}

.card-item {
    margin: 0.75em;
    width: 12.75rem;
}

.cardItem{
    width: 12.75rem !important;
}

.cardsItem {
    justify-content: center !important;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1.4em;
    color: black;
}

.cadastro:hover {
    color: black;
    text-decoration:underline;
}

.painel{
    min-height: 27rem;
}

.alignButton{
    display: flex;
    justify-content: center;
}

.spaceButton{
    margin: 0 20px 20px 0;
}

.titleCart{
    line-height: 1.5 !important;
    margin: 10px 0;
}

.kart{
    margin: 20px;
}

.bot_ex{
     display: flex;
    justify-content:space-evenly;
    
}
    
