*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards, .confirmar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.conf{
color:white ;
margin-top: 8em;
margin-right: 4em;
margin-left: 3em;
background-color: red;
border-radius: 1em;
padding: 2em;
height: 1em;
}


.card-item {
    margin: 0.75em;
    width: 12.75rem;
}

.cadastro{
    margin: 0.2em;
}

.painel{
    min-height: 27rem;
}