.menu {
    display: flex;
}

<<<<<<< HEAD
.button-home {
    margin: 10px;
    background-color: #0d6efd;
    padding: 7px;
    color: white;
    border-radius: 5px;
    border: none;
}

.button-painel {
    margin: 10px;
    background-color: #0d6efd;
    padding: 7px;
    color: white;
    border-radius: 5px;
    border: none;
}

.button-add {
    padding-left: 50px;
    margin: 10px;
    font-size: 30px;      
}
=======
    Button{
        margin: 3px;
    }
>>>>>>> 6ca23fe6b8dc6da23497caeb8d8508f9847eabb5
