.menu {
    display: flex;
  }
  
  .button-painel {
    margin: 10px 30px;;
    padding: 7px;
    border: none;
  }
  
  .button-add {
    padding-left: 50px;
    margin: 10px;
    font-size: 30px;      
  }