.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card-item{
    margin: 0.75em;
}

.cadastro {
    margin-top: 30px;
    text-align: center;
}

.produto-cadastro {
    text-align: center;
    padding-top: 6px;
    font-size: 18px;
}

Button{
    margin:2px;
}