.footer {
    background-color: black;
    color: white;
    padding: 0.5em 4em;
    text-align: center;
}

.promo {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.promo li {
    margin: 0 1em;
}

.promo svg {
    font-size: 1.5em;
    cursor: pointer;
}

#icon {
    color: #5F0000
}

p {
    padding: 0, 9em;
}