.footer {
    background-color: black;
    color: white;
    padding: 0.05em 0em;
    text-align: center;
}

.promo {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0em
}

.promo li {
    margin: 1em 1em;
}

.promo svg {
    font-size: 1.5em;
    cursor: pointer;
}

#icon {
    color: #5F0000;
}

#icon :hover {
    color: #ffffff;
}

a :hover {
    color: #5F0000;
}

.copy {
    margin-top: 0.5em;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}