* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    color: rgb(43, 43, 43);

}

.linha {
    border: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
}

.card-title {
    line-height: 2.5;
}

.subt {
    margin: 0 0 20px;
}

.card-cor {
    text-align: center;
    line-height: 2.5;
}

.card-tamanho {
    text-align: center;
    line-height: 2.5;
}

.card-nome {
    text-align: center;
    padding-top: 1px;
    line-height: 2.5;
}

.card-preco {
    padding-top: 10px;
    text-align: center;
    line-height: 2.5;
}

.align-title {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ccc;
    margin: 0 0 20px;
}

.card-texto {
    text-align: center;
    padding-top: 10px;
    line-height: 2.5;
}

.frete {
    text-align: center;
    line-height: 2.5;
}

.Pagamento {
    padding-left: 70px;
}

.card-body {
    padding: 0 30px !important;
    width: 350px;
    float: right;
}

.estrelas {
    text-align: center;
    line-height: 2.5;
}

.card-item {
    width: 650px;
    float: left;
    display: flex;
    flex-direction: row !important;
}

.img-card {
    max-width: 600px;
}

.central {
    margin: 0 auto;
}

.card-body {
    margin: 10px 0;
}

.card-image {
    width: 600px;
    margin-right: 200px;
    border-radius: 10px;
}

.card-text {
    text-align: left;
}

.vazio {
    margin: 40px 0;
}

.cards {
    justify-content: flex-start;
}

.center {
    float: right;
}

.produtcar {
    color: white;
    display: flex;
    margin-left: 76em;
    margin-top: -5em;
}

.botao {
    border-radius: 0;
    text-transform: uppercase;
}