* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form_pagamento {
    padding: auto;
    margin: 50px 0 12% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: 2px;
}

.Button{
    margin-top: 6px;
    padding:5px;

    
}