*{
    margin: 0;
    padding: 0;
    font-size: border-box;
    font-family: "Roboto Slab", sans-serif;
}

.menu {
    display: flex;
    background-color: rgb(0, 0, 0);
  }
  
  .button-painel {
    display: flex;
    align-items: center;
    margin: 10px 30px;;
    padding: 7px;
    border: none;
    color: white;
  }
  
  .button-add {
    padding-left: 50px;
    margin: 10px;
    font-size: 30px;      
  }

  .button-painel{
    margin-left: 80%;
  }

  .CartShopping{
    *margin-left: 105%;
    *margin-top: -15%;
    color: white;
  }

