* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.Card {
    width: 350px;
}

.cart{
    line-height: normal;
}

Button {
    font-size: xx-small;
}

.vejaProdutos{
    width: 1200px;
    margin: 0 auto;
}

.osCards{
    margin: 20px;
}

.botaoAlign{
    text-align: center;
}