* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.butique {
    font-weight:lighter;
    text-align: center;
    margin-top: 0.5em;
    text-transform: uppercase;
}

.butique:hover{
    text-decoration:underline;
}

.Card {
    width: 350px;
    border-radius: 0%;
}

.cart{
    line-height: normal;
}

Button {
    font-size: xx-small;
}

.vejaProdutos{
    width: 75em;
    margin: auto;
    justify-content: center;
}

.osCards{
    margin: 20px;
}

.botaoAlign{
    text-align: center;
}