* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrinho{
    display: flex;
    width: 1em;
    flex-direction: row;
}


.produtos {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
   
}

.btn-rem{
    margin-left: 15em;
    margin-top: -6.5em;
}

.botao-remov{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.items-carrinho{
    margin: 1em;
  justify-content: space-evenly;
}

.Pagamento{
    margin-top: -2em;
    
}


/*
.card-carrinho{
    display:flex;
    flex-direction: ;
    width: 3em;

}
.imagem-carrinho{
   margin-left: 1em;
    width: 15em;
    margin: auto;
    justify-content: center;
    
}
.corpo-carrinho{
    display: flex;
    align-items: center;
    width: 40rem;
    justify-content: space-between;
}

.titulo-carrinho{
    width: 15rem;
}

.preco-carrinho{
    width: 5rem;
    justify-content:center ;
    align-items:center ;
    flex-direction: column;
}

.quantidade-carrinho{
    width: 12rem;
}
*/