* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrinho{
    display: flex
}

.produtos {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}

.card-carrinho{
    display:flex;
    flex-direction: row;

}
.imagem-carrinho{
    height: 5rem;
    width: auto;
}
.corpo-carrinho{
    display: flex;
    align-items: center;
    width: 40rem;
    justify-content: space-between;
}

.titulo-carrinho{
    width: 20rem;
}

.preco-carrinho{
    width: 8rem;
    justify-content: center;
    align-items: center;
}

.quantidade-carrinho{
    width: 12rem;
}